// Colors

// Primary

$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Neutral

$dark-blue-main: hsl(217, 54%, 11%);
$dark-blue-card: hsl(216, 50%, 16%);
$dark-blue-font: hsl(216, 23%, 48%);
$white: hsl(0, 0%, 100%);

// Typography

// Font

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');